@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    box-sizing: border-box;
}

a, button {
    transition: all .4s ease-in;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    margin: auto;
    height: 100%;
    font: 400 1.8rem/1.8 'Quicksand', sans-serif;
    background-color: #282828;
}

.container {
    width: 800px;
    height: 600px;
    background-color: #fff;
    color: #fff;
    font-weight: 700;
    display: flex;
    margin: 5% auto;
    position: relative;
     
}


#wrapper  {
    display: block;
    width: 400px;
    height: 500px;
    margin: auto;
    background: linear-gradient(-145deg, #b86bd5 0%, #2e21ab 75%);
    box-shadow: -1px 10px 20px #14293f;
    padding: 45px 70px;
 }

 
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: .5;
}

#toregister {	
    z-index: 21;
    opacity: 0;
}
#tologin {
    z-index: 22;
}


a {
    display: inline-block;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1.5;
    opacity: .7;
    text-decoration: none;
    margin-bottom: 40px;
}

a:hover,
a:focus,
a:active {
    border-bottom: 2px solid #e66a64;
    opacity: 1;
}

.line {
    height: 4rem;
    width: 100%;
}


.link-big {
    font-size: 1.6rem;
    margin-right: 2rem;
}


.link-sm,
.checked {
    font-size: 1.3rem;
}


.link-sm-margin {
    margin-right: 3rem;
}

 label,
 input[class="line"] {
     font-size: 1.6rem;
 }


input {
    background-color: transparent;
    border: 2px solid white;
    opacity: .5;
}

p input:focus,
p input:active {
    outline: none;
    border: 2px solid #e66a64;
    cursor: pointer;
}


input[type="checkbox"] {
    margin-right: 9px;
}


.line--button {
    background: #23ae92;
    opacity: 1;
    color: #fff;
    font-size: 1.8rem;
    border: none;
}

.line--button:hover {
     opacity: .7;
     border: 2px solid #08362f ;
}

.line--button:focus,
.line--button:active {
    background-color: #08362f;
    border: 2px solid #08362f ;
}





/* .form {     
      display: none;
      width: 100%;
      height: 100%;
 } */

/* 
#toregister { 
    z-index: 21;
    opacity: 0;
}

#toregister:active ~ #wrapper #toregister,
#tologin:active ~ #wrapper #tologin {
    z-index: 22;
    animation-name: fadeInLeft;
    animation-delay: .1s;
}

.animate {
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register {
    animation-name: fadeOutLeftBig;
}
 
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
 
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
} */




 

























 

