@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    box-sizing: border-box;
}

a, button {
    transition: all .4s ease-in;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    margin: auto;
    height: 100%;
    font: 400 1.8rem/1.8 'Quicksand', sans-serif;
    background-color: #282828;
}

.container {
    width: 800px;
    height: 600px;
    background-color: #fff;
    color: #fff;
    font-weight: 600;
    display: flex;
    margin: 5% auto;
    position: relative;
     
}


#wrapper  {
    display: block;
    width: 400px;
    height: 500px;
    margin: auto;
    background: linear-gradient(-145deg, #b86bd5 0%, #2e21ab 75%);
    box-shadow: -1px 10px 20px #14293f;
    padding: 45px 70px;
 }

 
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
}

 #toregister {	
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    
}

#tologin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    
}  



.link-login, .link-register, a {
    display: inline-block;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1.5;
    opacity: .7;
    text-decoration: none;
    margin-bottom: 40px;
}

.link-login:hover,
.link-login:focus,
.link-login:active,
.link-register:hover,
.link-register:focus,
.link-register:active,
a:hover,
a:focus,
a:active {
    border-bottom: 1px solid #e66a64;
    opacity: 1;
}

.animate form {
    margin: -2rem 7rem  0;
}

.toregister {
    margin-top: 2rem;
}


.line {
    height: 4rem;
    width: 100%;
}


.link-big {
    font-size: 1.6rem;
    margin-right: 2rem;
} 


.link-sm,
.checked {
    font-size: 1.3rem;
    letter-spacing: .05rem;
    font-weight: 200;
}

.link-sm {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}


.link-sm-margin {
    margin-right: 2rem;
}

 label,
 input {
     font-size: 1.6rem;
 }


input {
    background-color: transparent;
    border: 2px solid white;
    opacity: .5;
}

input:focus,
input:active {
    outline: none;
    border: 2px solid #e66a64;
    cursor: pointer;
}


input[type="checkbox"] {
    margin-right: 9px;
}

.line--button {
    background: #23ae92;
    opacity: 1;
    color: #fff;
    font-size: 1.8rem;
    border: none;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.line--button:hover {
     opacity: .7;
     border: 2px solid #08362f ;
}

.line--button:focus,
.line--button:active {
    background-color: #08362f;
    border: 2px solid #08362f ;
}

input[data-target="tologin"]:checked ~ #tologin {
    display: block;
}

input[data-target="tologin"]:checked ~ #toregister {
    display: none;
}
 

input[data-target="toregister"]:checked ~ #toregister {
    display: block;
}

input[data-target="toregister"]:checked ~ #tologin {
    display: none;
} 



input[data-target="tologin"]:checked ~ #tologin {
    display: block;
}

input[data-target="tologin"]:checked ~ #toregister {
    display: none;
}
 

input[data-target="toregister"]:checked ~ #toregister {
    display: block;
}

input[data-target="toregister"]:checked ~ #tologin {
    display: none;
}

/* #wrapper input.hidden {
    display: none;
} 
      */
    
    












 

























 

